[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/reddit/*"
  to = "https://www.reddit.com/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
